<h1>Tasks</h1>
 
<ul class="ui list">
  <% @tasks.each do |task| %>
    <li class='item'> 
      <span class="right floated content">
        <a href=<%="#{tasks_path}/#{task.id}"%>
          data-method="delete">
          <i class="erase red icon"></i>
        </a>
        <a href=<%=edit_task_path(task.id)%>>
          <i class="edit green icon"></i>
        </a>
      </span>
      <i class='tasks <%=
        if task.priority == 1
          "red"
        elsif task.priority == 2
          "orange"
        elsif task.priority == 3
          "green"
        end
        %> icon'></i> 
      <span class="content">
        <%= task.name %>
        <%= task.due %>
        <% task.projects.each do |project| %>
          <i class="plus teal icon"></i><%= project.name %>
        <% end %>
        <% task.contexts.each do |context| %>
          <i class="at teal icon"></i><%= context.name %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>
